<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- enlace con style.css y con normalize.css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- enlace con pagina de tipo de fuente-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- enlace con pagina de los iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!-- enclace con home.css -->
    <link rel="stylesheet" href="/css/home.css">
    <title>GloriososClub - Tienda de Indumentaria deportiva</title>
</head>

<body>
    <header>
        <div class="buscador-nav">
            <section class="navbar-top">
                <div class="menu"><i class="fas fa-bars"></i></div>
                <img src="/images/Gloriosos_Club-removebg-preview.png" alt="GloriososClub" class="logo">
                <form class="busqueda" action="/" method="get">
                    <input class="input" type="text" name="busqueda" placeholder="Buscar">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>

            </section>
            <nav>
                <ul>
                    <li><a href="/register" class="register">Registrarse</a></li>
                    <li><a href="/login" class="login">Ingresar</a></li>
                    <li><a href="/productCart" class="carrito"><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
        </div>
        <ul class="menu-compu1">
            <li><a href="#hombre">Hombre</a></li>
            <li><a href="#mujer">Mujer</a></li>
            <li><a href="#niños">Niños</a></li>
            <li><a href="#deportes">Deportes</a></li>
            <li><a href="#marcas">Marcas</a></li>
            <li><a href="#Colecciones">Colecciones</a></li>
        </ul>
        <img src="/images/sexta opcion 650 px 250 px.png" alt="" class="banner">
    </header>
    <main>
        <h1> OFERTAS Y PRODUCTOS </h1>
        <div class="todos-los-articulos">
            <article class="articulos">
                <img src="/images/Adidas Predator 20-3 fg Negro .png" alt="">
                <div class="descripcion">
                    <i class="fas fa-heart"></i>
                    <p class="precio">$15.000</p>
                    <h3 class="nombre">Adidas Predator</h3>
                    <p class="categoria">Fútbol</p>
                </div>
            </article>
            <article class="articulos">
                <img src="/images/Adidas x -17-3 fg dorado.png" alt="">
                <div class="descripcion">
                    <i class="fas fa-heart"></i>
                    <p class="precio">$21.000</p>
                    <h3 class="nombre">Adidas X</h3>
                    <p class="categoria">Fútbol</p>
                </div>
            </article>
            <article class="articulos">
                <img src="/images/Argentina 1986 .png" alt="">
                <div class="descripcion">
                    <i class="fas fa-heart"></i>
                    <p class="precio">$9.500</p>
                    <h3 class="nombre">Camiseta Argentina 86</h3>
                    <p class="categoria">Fútbol</p>
                </div>
            </article>
            <article class="articulos">
                <img src="/images/Argentina 1986 alternativa .png" alt="">
                <div class="descripcion">
                    <i class="fas fa-heart"></i>
                    <p class="precio">$7.400</p>
                    <h3 class="nombre">Camiseta Argentina Suplente 1986</h3>
                    <p class="categoria">Fútbol</p>
                </div>
            </article>
            <article class="articulos">
                <img src="/images/Barcelona 1899.png" alt="">
                <div class="descripcion">

                    <i class="fas fa-heart"></i>
                    <p class="precio">$15.000</p>
                    <h3 class="nombre">Camiseta Barcelona 1899</h3>
                    <p class="categoria">Fútbol</p>

                </div>
            </article>
            <article class="articulos">
                <img src="/images/Barcelona 2009.png" alt="">
                <div class="descripcion">

                    <i class="fas fa-heart"></i>
                    <p class="precio">$6.000</p>
                    <h3 class="nombre">Camiseta Barcelona 2009</h3>
                    <p class="categoria">Fútbol</p>

                </div>
            </article>
            <article class="articulos">
                <img src="/images/Real Madrid 2011.png" alt="">
                <div class="descripcion">

                    <i class="fas fa-heart"></i>
                    <p class="precio">$10.000</p>
                    <h3 class="nombre">Camiseta Real Madrid 2011</h3>
                    <p class="categoria">Fútbol</p>

                </div>
            </article>
            <article class="articulos">
                <img src="/images/Real Madrid 2004 .png" alt="">
                <div class="descripcion">

                    <i class="fas fa-heart"></i>
                    <p class="precio">$15.000</p>
                    <h3 class="nombre">Camiseta Real Madrid 2004</h3>
                    <p class="categoria">Fútbol</p>

                </div>
            </article>
            <article class="articulos">
                <img src="/images/Paris Saint Germain alternativa 2020.png" alt="">
                <div class="descripcion">

                    <i class="fas fa-heart"></i>
                    <p class="precio">$5.000</p>
                    <h3 class="nombre">Camiseta PSG 2020</h3>
                    <p class="categoria">Fútbol</p>

                </div>
            </article>
            <article class="articulos">
                <img src="/images/River 1996 .png" alt="">
                <div class="descripcion">

                    <i class="fas fa-heart"></i>
                    <p class="precio">$10.000</p>
                    <h3 class="nombre">Camiseta River Plate 1986</h3>
                    <p class="categoria">Fútbol</p>

                </div>
            </article>
            <article class="articulos">
                <img src="/images/River 1996 alternativa .png" alt="">
                <div class="descripcion">
                    <i class="fas fa-heart"></i>
                    <p class="precio">$20.000</p>
                    <h3 class="nombre">Camiseta River Plate Alt 1996</h3>
                    <p class="categoria">Fútbol</p>
                </div>
            </article>
            <article class="articulos">
                <img src="/images/Camiseta Argentina Basquet 2004.png" alt="">
                <div class="descripcion">

                    <i class="fas fa-heart"></i>
                    <p class="precio">$8.000</p>
                    <h3 class="nombre">Camiseta Argentina 2004</h3>
                    <p class="categoria">Basquet</p>

                </div>
            </article>
            <article class="articulos">
                <img src="/images/Philadelphia 76 ers 2000.png" alt="">
                <div class="descripcion">

                    <i class="fas fa-heart"></i>
                    <p class="precio">$18.700</p>
                    <h3 class="nombre">Camiseta 76 ers 2000</h3>
                    <p class="categoria">Basquet</p>

                </div>
            </article>
            <article class="articulos">
                <img src="/images/Peñarol 2011.png" alt="">
                <div class="descripcion">

                    <i class="fas fa-heart"></i>
                    <p class="precio">$8.000</p>
                    <h3 class="nombre">Camiseta Peñarol 2011</h3>
                    <p class="categoria">Basquet</p>

                </div>
            </article>
            <article class="articulos">
                <img src="/images/Toronto Raptors 1998.png" alt="">
                <div class="descripcion">
                    <i class="fas fa-heart"></i>
                    <p class="precio">$15.000</p>
                    <h3 class="nombre">Camiseta Toronto Raptors 1998</h3>
                    <p class="categoria">Basquet</p>
                </div>
            </article>
            <article class="articulos">
                <img src="/images/Chicago Bulls 1995.png" alt="">
                <div class="descripcion">

                    <i class="fas fa-heart"></i>
                    <p class="precio">$12.000</p>
                    <h3 class="nombre">Camiseta Chicago Bulls 1995</h3>
                    <p class="categoria">Basquet</p>

                </div>

            </article>
            <i class="fab fa-whatsapp whatsapp"></i>
        </div>
    </main>
    <footer>
        <div class="menu-footer">
            <section>
                <h4>PRODUCTOS</h4>
                <ul>
                    <li><a href="calzado">Calzado</a></li>
                    <li><a href="zapatillas">Zapatillas</a></li>
                    <li><a href="ropa">Ropa</a></li>
                    <li><a href="botines">Botines</a></li>
                    <li><a href="conjuntos">Conjuntos</a></li>
                </ul>
            </section>
            <section>
                <h4>DEPORTES</h4>
                <ul>
                    <li><a href="#selecciones">Selecciones</a></li>
                    <li><a href="#boxeo">Boxeo</a></li>
                    <li><a href="#basquet">Básquet</a></li>
                    <li><a href="#futbol">Fútbol</a></li>
                    <li><a href="#running">Running</a></li>
                </ul>
            </section>
            <section>
                <h4>SEGUINOS EN REDES</h4>
                <ul>
                    <li><a href="https://www.facebook.com/">Facebook</a> <i class="fab fa-facebook-f"></i></li>
                    <li><a href="https://www.instagram.com/">Instagram</a> <i class="fab fa-instagram"></i></li>
                    <li><a href="https://twitter.com/">Twitter</a> <i class="fab fa-twitter"></i></li>
                </ul>
            </section>
            <section class="tablets">
                <h4>MARCAS</h4>
                <ul>
                    <li><a href="#adidas">Adidas</a></li>
                    <li><a href="#nike">Nike</a></li>
                    <li><a href="#puma">Puma</a></li>
                    <li><a href="#underArmour">Under Armour</a></li>
                    <li><a href="#everlast">Everlast</a></li>
                </ul>
            </section>
            <section class="compu">
                <h4>ULTIMAS NOVEDADES</h4>
                <ul>
                    <li><a href="#colecciones">Colecciones</a></li>
                    <li><a href="#ofertas">Ofertas</a></li>
                    <li><a href="#loMasNuevo">Lo más nuevo</a></li>
                    <li><a href="#formasDePago">Mejores formas de pago</a></li>
                </ul>
            </section>
        </div>
        <div>
            <ul class="atencion-cliente">
                <li><a href="terminosYCondiciones">Terminos y condiciones</a></li>
                <li><a href="privacidad">Política de Privacidad</a></li>
                <li><a href="reclamos">Reclamos</a></li>
                <li><a href="contacto">Contactanos</a></li>
            </ul>
        </div>

    </footer>
</body>

</html>