<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %> 
    <link rel="stylesheet" href="/css/productCreate.css">
    <!-- <link rel="stylesheet" href="/css/productDetail.css"> -->
    <link rel="stylesheet" href="/css/login.css">
<body>
    <%- include("partials/header") %>
    <main>
    <form action="/" method="POST" class="form-container">
        <div class="nombre">
            <label for="">
                <input type="text" name="username" placeholder="Nombre de nuevo producto" class="input-text">
            </label>
        </div>
        <div class="nombre">
            <input type="text" placeholder="Descripcion" class="input-text">
        </div>
        
        <div class="nombre">
            <input type="text" placeholder="Categoria" class="input-text">
        </div>

        <div class="nombre">
            <input type="text" placeholder="Colores" class="input-text">
        </div>

        <div class="nombre">
            <input type="text" placeholder="Precio" class="input-text">
        </div>

        <div class="buscarImagen">
            <input type="file" name="imagenNuevoArchivo">
        </div>

    </form>
</main>
    <%- include("partials/footer") %> 
</body>

</html>