.form-container {
    padding: 25px;
    background-color: #ebebeb;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #232F3E;
  }

  .boton{
      padding: 0px;
      font-size: large;
      font-family: 'Roboto', sans-serif;
      transition: all .5s ease;
  }
  
  .input-text,
  .input-email,
  .input-password,
  .input-date {
    width: 50vw;
    font-size: 18px;
    padding: 5px;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    outline: none;
    color: white;
  }

  .nombre{
      margin-bottom: 20px;  
      
  }

  .olvidar{
      font-size: medium;
      color: white;
  }

  .olvidar p a{
      background-color: #232F3E;
      color: rgba(255, 255, 255, 0.521);
      border: 2px solid #232F3E;
      padding: 5px 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }


body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}



