.form-container {
    padding: 25px;
    background-color: #ebebeb;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #232F3E;
}

.boton {
    padding: 0px;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    transition: all .5s ease;
}

.input-text,
.input-email,
.input-password,
.input-date {
    width: 50vw;
    font-size: 18px;
    padding: 5px;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    outline: none;
    color: white;
}

.nombre {
    margin-bottom: 20px;

}

.olvidar {
    font-size: medium;
    color: white;
}

.olvidar p a {
    background-color: #232F3E;
    color: rgba(255, 255, 255, 0.521);
    border: 2px solid #232F3E;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.error {

    margin: auto;
    width: 50%;
    color: rgb(252, 83, 83)
    
    
}

.menu-compu1 li ul {
    list-style:none;
    margin:0;
    padding:0;
}

.submenu {
    display: none;
    position: relative;
    background-color: #485769; 
    font-family: "Roboto";

 /*    float:left; */
}

.sport:hover .submenu{
    display: block;
    text-align: start;
}

.marcas:hover .submenu{
    display: block;
    text-align: start;
}

.sport ul {
    position: absolute;
}

.marcas ul {
    position: absolute;
}

.menu-compu1 li ul li {

    margin:0;
    padding:0;
    position: relative
}

.menu-compu1 li ul li:hover {
    background:#5b78a7;
}

.menu-compu1 li ul li a {
    display:block;
    color:#fff;
    text-decoration:none;
    padding:4px;
    font-family:"Roboto";
    letter-spacing:1px;
    right: -140px;
    top: 0px;

}

main{
    margin-top: -5%;
    background-color: #232F3E;
    padding-top: 5%;
}
/* para las validaciones de js front */
.validacionesFront p{
    color:  rgb(252, 83, 83);
    font-size: 12px
}