.form-container {
    padding: 25px;
    background-color: #ebebeb;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: black;
  }

  .boton{
      padding: 0px;
      font-size: large;
      font-family: 'Roboto', sans-serif;
      transition: all .5s ease;
  }
  
  .input-text,
  .input-email,
  .input-password,
  .input-date {
    width: 50vw;
    font-size: 18px;
    padding: 5px;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    outline: none;
    color: white;
  }

  .nombre{
      margin-bottom: 20px;  
      
  }

  .olvidar{
      font-size: medium;      
  }

.banner{
    width: 100%;  
    margin-bottom: -1%;
    display: block;
    width: 100vw;
    margin:0px -5px -5px -5px;
    box-sizing: border-box;
  }

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}



