body{
    background-color: black;
}

.carrito-deseos{
    width: 95%;
    margin: auto;
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.carrito-compra{
    width: 60%;
    margin: auto;
    color: white;
    padding-bottom: 7.5%;
    display: flex;    
    flex-direction: column;
    align-items: center;
}

.lista-deseos{
    width: 60%;
    color: white;
    padding-bottom: 7.5%;
    display: flex;    
    flex-direction: column;
    align-items: center;
}

.deseos{
    width: 100%;
    font-size: 18px;
    text-align: center;
}

.carrito-compra div{
    width: 50%;
    padding: 5px 0px;
    text-align: center;
}

.carrito {
    width: 100%;
    font-size: 18px;
    text-align: center;
}

.producto-elegido{
    width: 100%;
}

.cantidad{
    width:  100%;
}

.cantidad i{
    color: white;
}

.cantidad-input{
    text-align: center;
    width: 8%;
    background-color: black;
    color: white;
}

.precio-unitario-input{
    width: auto;
    text-align: center;
    background-color: black;
    color: white
}

.total-input{
    width: auto;
    text-align: center;
    background-color: black;
    color: white
}

.producto-elegido-input{
    width: auto;
    text-align: center;
    background-color: black;
    color: white
}

.botones-comprar-eliminar{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.botones-comprar-eliminar label{
    font-size: 20px;
}

.boton-buy{
    background-color: black;
    color: white;
    font-size: 30px;
}

.boton-buy i{
    transition: 500ms;
}

.boton-buy i:hover{
    background-color: white;
    color: blue;
}

.boton-trash{
    background-color: white;
    font-size: 25px;
    transition: 500ms;
}

.basurero{
    color: black;
}

.boton-trash i:hover{
    background-color: white;
    color: red;
}

.compra{
    color: white;
    background-color: black;
    transition: 500ms;
}

.compra:hover{
    color: black;
    background-color: white;
}

.carrito-vacio{
    width: 90%;
    padding-bottom: 10%;
    margin: auto;
    color: white;
    text-align: center;
}

/* PARA TABLETS */
@media (min-width:400px){
    .carrito-compra{
        width: 50%;
        margin: auto;
        color: white;
        padding-bottom: 7,5%;
        display: flex;    
        flex-direction: column;
        align-items: center;
    }
    
    .lista-deseos{
        width: 50%;
        color: white;
        padding-bottom: 7,5%;
        display: flex;    
        flex-direction: column;
        align-items: center;
    }

    .lista-deseos p{
        text-align: center;
    }
}

/* PARA COMPU */
@media(min-width:900px){
    .cantidad .masmenos{
        display: none;
    }
}