main{
    padding: 10px 5px;
    background-color: #E0E0E0;
    box-sizing: border-box;
    color: black;    
}

.imagen-descripcion{
    background-color: #e0e0e0;
    margin-bottom:0px;
    
}
.imagen-descripcion img{
    width: 100%;

}


.descuento{
    color: green;
    font-size: 2vw;
    text-align: center;
}

.precio{
    margin:0px;
    font-size: 2vw;
    display: block;
    text-align: center;
}

.precioFinal{
    text-emphasis: 4px;
    font-size: 2vw;
    text-align: center;
}

.nombre-detalle{
    text-align: center;
}
.precio-detalle{
    font-size: 18px;
    margin-bottom: 0px;
}
.cuotas{
    margin-top: 0px;
}
.cuotas, .envioGratis{
    font-size: 14px;
    margin-bottom:0px ;
}
.enlaces-detalle{
    display: block;
    text-decoration: none;
    

}

.unidadesSolicitadas, .dejanosTuComentario{
    text-align: center;
    padding: 10px 0px;
}
.cantidad{
    display: block;
    border: solid 2px rgb(211, 211, 211);
    border-radius: 5%;
    background-color: rgb(234, 233, 233);
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    
}
form h3{
    margin:5px 0px;

}
.comentarios{
    width: 90%;
    background-color: rgb(234, 233, 233);
    border: solid 2px rgb(211, 211, 211);
    
}
.descripcion-individual{
    background-color: #e0e0e0;
    padding: 5px;
    text-align: left;
}
.descripcion-individual h3{
    margin-top:0px;
    text-align: center;
}
.descripcion-individual p{
    font-size: 14px;
    text-align: center;
}
.nombreTablets{
    color: #485769;
    font-size: 3vw;
    font-weight: bolder;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 2vw;
}
.descripcion-individual-compu{
    display: none;
}

.botonEditar{
    text-align: center;


}

@media(min-width:400px){
    .imagen, .descripcion-detalle{
        width: 45%;
        margin: auto;

    }
    .imagen-descripcion{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .nombreTablets{
        display: block;
    }
}

@media(min-width:900px){
    .descripcion-individual{
        display: none;
    }
    .descripcion-individual-compu{
        display: block;
        text-align: center;
    }

}