main{
    width: 100%;
    font-size: 1rem;
    color:white;
    background-color: #485769;
/*     position: relative; */
    padding-bottom: 8%;
}

.guardarProducto{
    padding: 10px;
}

.nombre{
    padding: 10px;

}

.descripcion{
    text-align: center;

}

.form-container{
    position: relative;
}

.precio{
    width: 25vw;
    font-size: 18px;
    padding: 5px;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    outline: none;
    color: white;
  }
    
  .guardar {
    background:    #15d798;
    background:    linear-gradient(#073763, #16996f 50%, #073763);
    border:        0px solid #556699;
    border-radius: 1000px;
    box-shadow:    1px -1px #444444;
    padding-top: 5%;
    padding:       5px 11px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 1,5vw "Roboto", sans-serif;
    text-align:    center;
    text-shadow:   2px 2px #000000;
}

.input-guardar {
    background-color: transparent;
    border: transparent;
    color: white;
}

.volver {
    position: absolute;
    left: 46%;
    background:    #15d798;
    background:    linear-gradient(#073763, #16996f 50%, #073763);
    border:        0px solid #556699;
    border-radius: 1000px;
    box-shadow:    1px -1px #444444;
    padding-top: 5%;
    padding:       5px 11px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 1,5vw "Roboto", sans-serif;
    text-align:    center;
    text-shadow:   2px 2px #000000;
}

.input-volver {
    background-color: transparent;
    border: transparent;
    color: white;
    align-items: center;
}

.color{
    padding: 10px;
}

.categoria{
    padding: 10px;
}

.buscarImagen{
    padding: 10px;
}
/* para las validaciones de js front */
.validacionesFront p{
    color:  rgb(252, 83, 83);
    font-size: 12px
}
