
main{
    background-color:#485769;
    text-align: center;
    padding: 5px;
}

.contenedorPrincipal{
    font-size: 1.1vw;
    color:aliceblue

}

.menu-compu1 li ul {
    list-style:none;
    margin:0;
    padding:0;
}

.submenu {
    display: none;
    position: relative;
    background-color: #485769; 
    font-family: "Roboto";
 /*    float:left; */
}

.sport:hover .submenu{
    display: block;
    text-align: start;
}

.menu-compu1 li ul li {

    margin:0;
    padding:0;
}

.menu-compu1 li ul li:hover {
    background:#5b78a7;
}

.menu-compu1 li ul li a {
    display:block;
    color:#fff;
    text-decoration:none;
    padding:4px;
    font-family:"Roboto";
    letter-spacing:1px;
}

.cuerpoTyC{
    text-align: justify;
    border-collapse: collapse;
    margin-left: 15vw;
    margin-right: 15vw;

}

.volverContainer{
    width: 100%;
    text-align: center;
}

.botonVolver{
    width: 20%;
    margin: 0px auto;
    margin-top: 3%;
    background: #15d798;
    background: linear-gradient(#073763, #16996f 50%, #073763);
    border: 0px solid #556699;
    border-radius: 1000px;
    box-shadow: 1px -1px #444444;
    padding: 10px 22px;
    color: #ffffff;
    display: inline-block;
    font: normal bold 2vw "Roboto", sans-serif;
    text-shadow: 2px 2px #000000;
}

.botonVolverInput{
    background-color: transparent;
    border: transparent;
    color: white;
}