<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", {titulo: "GloriososClub - Tienda de Indumentaria deportiva"}) %>
<script src="https://kit.fontawesome.com/37146b37c4.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/css/ayuda.css">
<link rel="stylesheet" href="/css/home.css">
<body>
    <main class="contenedor">    
    <%- include("partials/header") %>
    <div class="ayudaFormulario">
        <h1>¿Con qué podemos ayudarte?</h1>
        <form class="busquedaAyuda" action="/products/search" method="get">
            <input class="input" type="text" name="search" placeholder="Ej: Me robaron la cuenta">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>""
    <h2>COMPRAS</h2>
    <div class="cajaCompras">
        <div class="administrar">
            <ul>
                <li>
                    <h3><a href="#">Administrar y cancelar compras</a></h3>
                    <p>Pagar, seguir envíos, modificar, reclamar o cancelar compras</p>
                </li>
                <li>
                    <h3><a href="#">Devoluciones y reembolsos</a></h3>
                    <p>Devolver un producto o consultar por reintegros de dinero de una compra</p>
                </li>
                <li>
                    <h3><a href="#">Preguntas frecuentes sobre compras</a></h3>    
                </li>
            </ul>
        </div>
    </div><br>

    <h2>VENTAS</h2>    
    <div class="cajaVentas">
        <div class="ventas">
            <ul>
                <li>
                    <h3><a href="#">Gestionar ventas y publicaciones</a></h3>
                    <p>Ventas, cobros, envíos, reclamos, devoluciones, publicaciones y reputación</p>
                </li>
                <li>
                    <h3><a href="#">Preguntas frecuentes sobre ventas</a></h3>    
                </li>
            </ul>
        </div>
    </div><br>

    <h2>AYUDA SOBRE TU CUENTA</h2>    
    <div class="cajaCuenta">
        <div class="cuenta">
            <ul>
                <li>
                    <h3><a href="#">Configuración de mi cuenta</a></h3>
                </li>
                <li>
                    <h3><a href="#">Seguridad</a></h3>    
                </li>
            </ul>
        </div>
    </div>

    <div class="volverContainer">
        <form action="/" class="botonVolver" method="GET">
            <button class="botonVolverInput" type="submit">Volver a OFERTAS</button>
        </form>
    </div>
    </main>
    <%- include("partials/footer") %>
</body>
</html>