<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", {titulo: "GloriososClub - Tienda de Indumentaria deportiva"}) %> 
<link rel="stylesheet" href="/css/perfilUsuario.css">
<body>
    <main>    
    <%- include("partials/header") %> 
    <% if(locals.usuarioLogueado){  %> 
    <div class="nombreUsuario"> ¡Bienvenido <%= locals.usuarioLogueado.userName %>!</div>
    <div class="venta">¿Trajiste algo para vender hoy?</div>
    <div class="botones">
        <div class="botonVender">
            <form action="/products/productCreate" method="get" type="submit">Vender producto</form>
        </div>
        <div class="botonSalir" form action="/users/perfilUsuario/cerrarSession" method="get">
            <span type="submit">Salir de la cuenta </span>
                </form>
        </div>
    </div>
    <% }else{ %>
        <h2>Pagina disponible solo para usuarios logueados</h2>
        <%  } %> 
    </main>
    <%- include("partials/footer") %>
</body>
</html>