<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
</head>
<body>
    <% if(locals.usuarioLogueado){  %> 
    <H1>Cuenta de <%= locals.usuarioLogueado.mail %></H1>
    <form action="/users/perfilUsuario/cerrarSession" method="get">
        <button type="submit">Salir de la cuenta </button>
    </form>
    <form action="/products/productCreate" method="get">
        <button type="submit">Crear producto</button>
    </form>
    <% }else{ %>
        <h2>Pagina disponible solo para usuarios logueados</h2>
        <%  } %> 
    
</body>
</html>