<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head", {titulo: "Agregar nuevo producto"}) %> 
    <link rel="stylesheet" href="/css/productCreate.css">
    <!-- <link rel="stylesheet" href="/css/productDetail.css"> -->
    <link rel="stylesheet" href="/css/login.css">
<body>
    <%- include("partials/header") %>
    <main>
    <form action="/products" method="POST" class="form-container" enctype="multipart/form-data">
        <div class="nombre">
            
                <input type="text" name="name" placeholder=" Nombre del producto: Ej: Zapatillas Reebok" class="input-text">
        </div>
        <div class="descripcion">
            <textarea name="descripcion" id="descripcion" rows="5" cols="50" class="input-text" placeholder="Descripcion del producto"></textarea>
        </div> 
        <div class="categoria">
            <label for="categoria" class="form-label">Categoria:</label>
            <select name="categoria" id="categoria" class="form-text">
                <option value="" selected >Todas</option>
                <option value="futbol">Fútbol</option>
                <option value="basquet">Básquet</option>
                <option value="boxeo">Boxeo</option>
                <option value="otro">Otro</option>
            </select>    
        </div>
        <div>
            
            <input type="text" id="precio" name="precio" placeholder="Precio del producto Ej: 5678" class="precio" >
        </div>

        <div class="buscarImagen">
            <input type="file" name="imagenNuevoArchivo">
        </div>

        <div class="guardarProducto">
            <button type="submit">Guardar Producto</button>
        </div>

    </form>
</main>
    <%- include("partials/footer") %> 
</body>

</html>