<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- enlace con style.css y con normalize.css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- enlace con pagina de tipo de fuente-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- enlace con pagina de los iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/37146b37c4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/terminosCondiciones.css">
    <title><%= titulo %></title>
</head>
<header>
    <div class="buscador-nav">
        <section class="navbar-top">
            <div class="menu"><i class="fas fa-bars"></i></div>
            <div class="divLogo"><a href="/" class="inicio"><img src="/images/logoGloriososClub.png" alt="home" class="logo"></a></div>
            <form class="busqueda" action="/products/search" method="get">
                <input class="input" type="text" name="search" placeholder="Buscar">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </section>
        <nav>
            <ul>
                <% if(locals.isLogged){ %> 
                <li><a href="/users/perfilUsuario"><%= locals.usuarioLogueado.userName %></a></li>
                <li><a href="/imagen"><img class="imagenUsuario" src="/images/profileImages/<%= locals.usuarioLogueado.profileImage %> "></i></a></li>
                <% }else{ %> 
                <li><a href="/users/register" class="register">Registrarse</a></li>
                <li><a href="/users/login" class="login">Ingresar</a></li>
                <% } %> 
                <li><a href="/products/productCart" class="carrito"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </div>
    <ul class="menu-compu1">
        <li><a href="/products/menu">Hombre</a></li>
        <li><a href="#mujer">Mujer</a></li>
        <li><a href="#niños">Niños</a></li>
        <li><a href="#deportes">Deportes</a></li>
        <li><a href="#marcas">Marcas</a></li>
        <li><a href="/products">Todos los productos</a></li>
        <li><a href="/ayuda">Ayuda</a></li>
    </ul>
    <img src="/images/banner gloriosos 728150.png" alt="" class="banner">
</header>
<footer>
    <div class="menu-footer">
        <!-- <section>
            <h4>PRODUCTOS</h4>
            <ul>
                <li><a href="calzado">Calzado</a></li>
                <li><a href="zapatillas">Zapatillas</a></li>
                <li><a href="ropa">Ropa</a></li>
                <li><a href="botines">Botines</a></li>
                <li><a href="conjuntos">Conjuntos</a></li>
            </ul>
        </section>
        <section>
            <h4>DEPORTES</h4>
            <ul>
                <li><a href="#selecciones">Selecciones</a></li>
                <li><a href="#boxeo">Boxeo</a></li>
                <li><a href="#basquet">Básquet</a></li>
                <li><a href="#futbol">Fútbol</a></li>
                <li><a href="#running">Running</a></li>
            </ul>
        </section> -->
        <section>
            <h4>SEGUINOS EN REDES</h4>
            <ul>
                <li><a href="https://www.facebook.com/">Facebook</a> <i class="fab fa-facebook-f"></i></li>
                <li><a href="https://www.instagram.com/">Instagram</a> <i class="fab fa-instagram"></i></li>
                <li><a href="https://twitter.com/">Twitter</a> <i class="fab fa-twitter"></i></li>
            </ul>
        </section>
        <section class="tablets">
            <h4>MEDIOS DE PAGO</h4>
            <div>
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="icon-logo lazyloaded" alt="visa" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="icon-logo lazyloaded" alt="mastercard" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" class="icon-logo lazyloaded" alt="amex" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/diners@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/diners@2x.png" class="icon-logo lazyloaded" alt="diners" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/banelco@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/banelco@2x.png" class="icon-logo lazyloaded" alt="ar_banelco" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cabal@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cabal@2x.png" class="icon-logo lazyloaded" alt="ar_cabal" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" class="icon-logo lazyloaded" alt="pagofacil" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" class="icon-logo lazyloaded" alt="rapipago" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" class="icon-logo lazyloaded" alt="mercadopago" width="40" height="25">
            </div>
        </section>
        <section>
        <h4>MEDIOS DE ENVÍO</h4>
        <div>
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/mercado-envios@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/mercado-envios@2x.png" class="icon-logo lazyloaded" alt="mercado-envios" width="40" height="25">
        </div>    
        </section>
        <section class="compu">
            <h4>CONTACTÁNOS</h4>
        <ul>
            <li><i class="fa-brands fa-whatsapp"></i> 11-52228-94794</li>
            <li class="correo"><i class="fa-regular fa-envelope"></i> gloriososclub@gmail.com</li>
            <li><i class="fas fa-map-marker-alt"></i> Casa Central: Av. 9 de julio 1575 - CABA </li>
        </ul>
        </section>
    </div>
    <div>
        <ul class="atencion-cliente">
            <li><a href="terminosYCondiciones">Terminos y condiciones</a></li>
            <li><a href="https://www.argentina.gob.ar/produccion/defensadelconsumidor">Defensa al consumidor</a></li>
        </ul>
        
    </div>

</footer>
