<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", {titulo: "GloriososClub - Tienda de Indumentaria deportiva"}) %>
<script src="https://kit.fontawesome.com/37146b37c4.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/css/terminosCondiciones.css">
<link rel="stylesheet" href="/css/footer.css">
<body>
    <main class="contenedor">    
    <%- include("partials/header") %>
    <div class="contenedorPrincipal">
        <h1>Términos y condiciones legales del sitio</h1>
        <div class="cuerpoTyC">
            <h2>Versión vigente: 8 de agosto, 2022</h2>
            <p><u>Resumen de términos y condiciones</u><br>

                GloriososClub es una compañía de tecnología que ofrece servicios vinculados principalmente al comercio electrónico y a los pagos digitales.
                
                El Marketplace es una plataforma de comercio electrónico donde las Personas Usuarias pueden vender y comprar productos usando distintas soluciones de pago y envío. 
                En Marketplace VIS, conectamos a las personas interesadas en realizar transacciones con vehículos, inmuebles y servicios con posibles vendedores.
                Mercado Pago es una plataforma de pagos y cobros que puede ser usada tanto para operaciones realizadas dentro del Marketplace como fuera de él.
                Mercado Envíos es la herramienta tecnológica que ofrecemos para que las Personas Usuarias puedan enviar y recibir sus compras hechas en sitios o aplicaciones que utilicen la tecnología de GloriososClub.
                También ofrecemos otros servicios como Mercado Shops, Mercado Ads, Mercado Créditos, entre muchos otros, todos con el mismo fin: democratizar el comercio y los servicios financieros en la región. 
                Para poder operar en la plataforma todas las Personas Usuarias deberán aceptar los Términos y Condiciones, los anexos y la Declaración de Privacidad.
                
                Cada Persona Usuaria es responsable de los datos personales que brinda al momento de registrarse y se obliga a mantenerlos actualizados. Además, es el único responsable del uso y resguardo de su contraseña. 
                
                En algunos casos, podremos cobrar una tarifa por el uso de los servicios que integran el ecosistema de GloriososClub, que la Persona Usuaria se compromete a pagar.</p><br>
                <p>1-<br>
                    <h3>GloriososClub</h3>
                    <p>GloriososClub es una compañía de tecnología que ofrece servicios vinculados principalmente al comercio electrónico y a los pagos digitales. 

Los servicios que ofrece GloriososClub en el sitio www.grloriososclub.com y sus aplicaciones móviles (de ahora en más:“Sitio”) están diseñados para formar un ecosistema que permita a las personas vender, comprar, pagar, enviar productos y realizar otras actividades comerciales con tecnología aplicada (de ahora en más:“Ecosistema MELI”).</p><br>
                <p>2-<br>
                    <h3>Términos y Condiciones</h3>
                    <p>Estos términos y condiciones y los anexos que explican los servicios del Ecosistema MELI (de ahora en más: “Términos y Condiciones”) regulan la relación entre GloriososClub y las  personas que usan sus servicios (“Personas Usuarias”). 

Las Personas Usuarias aceptan estos Términos y Condiciones desde el momento en que se registran en el Sitio y usan el Ecosistema MELI.

Cuando debamos hacer cambios importantes en nuestros servicios, publicaremos las modificaciones con 10 días corridos de anticipación para que las Personas Usuarias puedan revisarlas y seguir usando el Ecosistema MELI. En ningún caso afectarán las operaciones que ya hayan finalizado.

Las Personas Usuarias que no tengan obligaciones pendientes con GloriososClub o con otras Personas Usuarias, podrán finalizar la relación con Mercado Libre cancelando su cuenta.</p><br>
                <p>3-<br>
                    <h3>Capacidad</h3>
                    <p>Podrán usar nuestros servicios las personas mayores de edad que tengan capacidad legal para contratar. 

Quien use el Ecosistema MELI en representación de una empresa deberá tener capacidad para contratar a nombre de ella. Además, para poder usar la cuenta, la Persona Usuaria debe encontrarse activa. </p><br>
                <p>4-<br>
                    <h3>Registro y Cuenta</h3>
                    <p>Quien quiera usar nuestros servicios, deberá completar el formulario de registro con los datos que le sean requeridos. Al completarlo, se compromete a hacerlo de manera exacta, precisa y verdadera y a mantener sus datos siempre actualizados. La Persona Usuaria será la única responsable de la certeza de sus datos de registro. Sin perjuicio de la información brindada en el formulario, podremos solicitar y/o consultar información adicional para corroborar la identidad de la Persona Usuaria. 

La cuenta es personal, única e intransferible, es decir que bajo ningún concepto se podrá vender o ceder a otra persona. Se accede a ella con la clave personal de seguridad que haya elegido y que deberá mantener bajo estricta confidencialidad. La Persona Usuaria podrá crear Cuentas Colaboradoras y definir sus permisos de acceso. En cualquier caso, la Persona Usuaria será la única responsable por las operaciones que se realicen en su cuenta. En caso de detectar un uso no autorizado de su cuenta, deberá notificar de forma inmediata y fehaciente a GloriososClub.

Podremos rechazar una solicitud de registro o bien cancelar un registro ya aceptado, sin que esto genere derecho a un resarcimiento. No podrán registrarse nuevamente en el Sitio las Personas Usuarias que hayan sido inhabilitadas previamente. Tampoco podrán registrarse quienes estén incluidos o relacionados a personas incluidas en listas nacionales o internacionales de sanciones. Conocé más. 

Además, en caso de detectar el uso de más de una cuenta, podremos aplicar retenciones, débitos y/o cualquier otra medida si consideramos que ese accionar puede perjudicar al resto de las personas que usan el Sitio o a GloriososClub, más allá de las sanciones que pudieran corresponder. </p><br>
                <p>5-<br>
                    <h3>Privacidad de datos</h3>
                    <p>En GloriososClub hacemos un uso responsable de la información personal, protegiendo la privacidad de las Personas Usuarias que nos confiaron sus datos y tomando las medidas necesarias para garantizar la seguridad en nuestro Ecosistema MELI. Conocé más sobre nuestra Declaración de Privacidad.</p><br>
                <p>6-<br>
                    <h3>Sanciones</h3>
                    <p>En caso que la Persona Usuaria incumpliera una ley o los Términos y Condiciones, podremos advertir, suspender, restringir o inhabilitar temporal o definitivamente su cuenta, sin perjuicio de otras sanciones que se establezcan en las reglas de uso particulares de los servicios de GloriososClub.</p><br>
                <p>7-<br>
                    <h3>Responsabilidad</h3>
                    <p>GloriososClub será responsable por cualquier defecto en la prestación de su servicio, en la medida en que le sea imputable y con el alcance previsto en las leyes vigentes.</p><br> 
                <p>8-<br>
                    <h3>Tarifas</h3>
                    <p>GloriososClub podrá cobrar por sus servicios y la Persona Usuaria se compromete a pagarlos a tiempo. 

Podremos modificar o eliminar las tarifas en cualquier momento con el debido preaviso establecido en la cláusula 2 de estos Términos y Condiciones. De la misma manera, podremos modificar las tarifas temporalmente por promociones en favor de las Personas Usuarias. 

La Persona Usuaria autoriza a GloriososClub a retener y/o debitar los fondos existentes y/o futuros de su cuenta de Mercado Pago y/o de las cuentas bancarias que haya registrado en ella, para saldar las tarifas impagas o cualquier otra deuda que pudiera tener. 

Para conocer el detalle de las tarifas de cada servicio, las Personas Usuarias deberán consultar los términos y condiciones correspondientes. 

En todos los casos se emitirá la factura de conformidad con los datos fiscales que las personas tengan cargados en su cuenta.</p><br> 
                <p>9-<br>
                    <h3>Propiedad Intelectual</h3>
                    <p>GloriososClub y/o sus sociedades relacionadas son propietarias de todos los derechos de propiedad intelectual sobre sus sitios, todo su contenido, servicios, productos, marcas, nombres comerciales, logos, diseños, imágenes, frases publicitarias, derechos de autor, dominios, programas de computación, códigos, desarrollos, software, bases de datos, información, tecnología, patentes y modelos de utilidad, diseños y modelos industriales, secretos comerciales, entre otros (“Propiedad Intelectual”) y se encuentran protegidos por leyes nacionales e internacionales.

Aunque GloriososClub otorga permiso para usar sus productos y servicios conforme a lo previsto en los Términos y Condiciones, esto no implica una autorización para usar su  Propiedad Intelectual, excepto consentimiento previo y expreso de GloriososClub y/o sus sociedades vinculadas. En cualquier caso, los usuarios vendedores que usen dichos productos y servicios no podrán utilizar la Propiedad Intelectual de GloriososClub de una manera que cause confusión en el público y deberán llevar a cabo su actividad comercial bajo una marca o nombre comercial propio y distintivo, que no resulte confundible con la marca GloriososClub y su familia de marcas “Mercado”.

Está prohibido usar nuestros productos o servicios para fines ilegales, realizar cualquier tipo de ingeniería inversa u obras derivadas, utilizar herramientas de búsqueda o de extracción de datos y contenidos de nuestra plataforma para su reutilización y/o crear bases de datos propias que incluyan en todo o en parte nuestro contenido sin nuestra expresa autorización. Está también prohibido el uso indebido, sin autorización y/o contrario a la normativa vigente y/o que genere confusión o implique uso denigratorio y/o que le cause perjuicio, daños o pérdidas a GloriososClub y/o a sus sociedades relacionadas. La utilización de los productos y servicios de GloriososClub tampoco implica la autorización para usar propiedad intelectual de terceros que pueda estar involucrada, cuyo uso quedará bajo exclusiva responsabilidad del usuario. 
En caso que una Persona Usuaria o cualquier publicación infrinja la Propiedad Intelectual de GloriososClub o de terceros, GloriososClub podrá remover dicha publicación total o parcialmente), sancionar al usuario conforme a lo previsto en estos Términos y Condiciones y ejercer las acciones extrajudiciales y/o judiciales correspondientes.</p><br>
                <p>10-<br>
                    <h3>Indemnidad</h3>
                    <p>La Persona Usuaria mantendrá indemne a GloriososClub y sus sociedades relacionadas, así como a quienes la dirigen, suceden, administran, representan y/o trabajan en ellas, por cualquier reclamo administrativo o judicial iniciado por otras Personas Usuarias, terceros o por cualquier Organismo, relacionado con sus actividades en el Ecosistema MELI.
En virtud de esa responsabilidad, podrán realizar compensaciones, retenciones u otras medidas necesarias para la reparación de pérdidas, daños y perjuicios, cualquiera sea su naturaleza.
        </div>
        <div class="volverContainer">
            <form action="/" class="botonVolver" method="GET">
                <button class="botonVolverInput" type="submit">Volver a OFERTAS</button>
            </form>
        </div>
    </div>
    </main>
    <%- include("partials/footer") %>
</body>
</html>