<script src="https://kit.fontawesome.com/37146b37c4.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="menu-footer">
        <!-- <section>
            <h4>PRODUCTOS</h4>
            <ul>
                <li><a href="calzado">Calzado</a></li>
                <li><a href="zapatillas">Zapatillas</a></li>
                <li><a href="ropa">Ropa</a></li>
                <li><a href="botines">Botines</a></li>
                <li><a href="conjuntos">Conjuntos</a></li>
            </ul>
        </section>
        <section>
            <h4>DEPORTES</h4>
            <ul>
                <li><a href="#selecciones">Selecciones</a></li>
                <li><a href="#boxeo">Boxeo</a></li>
                <li><a href="#basquet">Básquet</a></li>
                <li><a href="#futbol">Fútbol</a></li>
                <li><a href="#running">Running</a></li>
            </ul>
        </section> -->
        <section>
            <h4>SEGUINOS EN REDES</h4>
            <ul>
                <li><a href="https://www.facebook.com/">Facebook</a> <i class="fab fa-facebook-f"></i></li>
                <li><a href="https://www.instagram.com/">Instagram</a> <i class="fab fa-instagram"></i></li>
                <li><a href="https://twitter.com/">Twitter</a> <i class="fab fa-twitter"></i></li>
            </ul>
        </section>
        <section class="tablets">
            <h4>MEDIOS DE PAGO</h4>
            <div>
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="icon-logo lazyloaded" alt="visa" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="icon-logo lazyloaded" alt="mastercard" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" class="icon-logo lazyloaded" alt="amex" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/diners@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/diners@2x.png" class="icon-logo lazyloaded" alt="diners" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/banelco@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/banelco@2x.png" class="icon-logo lazyloaded" alt="ar_banelco" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cabal@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cabal@2x.png" class="icon-logo lazyloaded" alt="ar_cabal" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" class="icon-logo lazyloaded" alt="pagofacil" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" class="icon-logo lazyloaded" alt="rapipago" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" class="icon-logo lazyloaded" alt="mercadopago" width="40" height="25">
            </div>
        </section>
        <section>
        <h4>MEDIOS DE ENVÍO</h4>
        <div>
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/mercado-envios@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/mercado-envios@2x.png" class="icon-logo lazyloaded" alt="mercado-envios" width="40" height="25">
        </div>    
        </section>
        <section class="compu">
            <h4>CONTACTÁNOS</h4>
        <ul>
            <li><i class="fa-brands fa-whatsapp"></i> 11-52228-94794</li>
            <li class="correo"><i class="fa-regular fa-envelope"></i> gloriososclub@gmail.com</li>
            <li><i class="fas fa-map-marker-alt"></i> Casa Central: Av. 9 de julio - CABA </li>
        </ul>
        </section>
    </div>
    <div>
        <ul class="atencion-cliente">
            <li><a href="terminosYCondiciones">Terminos y condiciones</a></li>
            <li><a href="https://www.argentina.gob.ar/produccion/defensadelconsumidor">Defensa al consumidor</a></li>
        </ul>
        
    </div>

</footer>